<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
  xmlns:set="http://www.sitecore.net/xmlconfig/set/"
  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
          <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="sortorder" returnType="int">XmCloudSXAStarter.ComputedFields.SortOrder, XmCloudSXAStarter</field>
            </fields>
          </documentOptions>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
    <!-- Custom Events -->
    <events>
      <event name="publish:end">
        <handler type="XmCloudSXAStarter.Events.PublishEnd.SampleEvent, XmCloudSXAStarter" method="OnPublishEnd"></handler>
      </event>
    </events>
    <!-- DEMO TEAM CUSTOMIZATION - This file includes custom configuration -->
    <settings>
      <setting name="Sitecore.ThumbnailsGeneration.Enabled" value="false" />
      <setting name="ExperienceEdge.EnableItemLanguageFallback" value="true"/>
      <setting name="ExperienceEdge.EnableFieldLanguageFallback" value="true"/>
      <setting name="CustomSettingViaEnv" value="$(env:Custom_Value)"></setting>
    </settings>

    <sites>
      <!--
        - Enable language fallback for Content Editor and Experience Editor (shell).
        - Enable language fallback for any future sites that inherit from website.
      -->
      <site name="shell">
        <patch:attribute name="contentStartItem">/Verticals</patch:attribute>
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
      <site name="website">
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
    </sites>
    <pipelines>      
      <group groupName="layoutService">
        <pipelines>
          <getLayoutServiceContext>
            <processor type="XmCloudSXAStarter.Pipelines.GetLayoutServiceContext.ThemeContext, XmCloudSXAStarter" resolve="true" />
          </getLayoutServiceContext>
          <getFieldSerializer>
            <processor 
              patch:instead="*[@type='Sitecore.Connector.ContentHub.DAM.FieldSerializers.Pipelines.FieldSerializers.GetImageFieldSerializerExtend, Sitecore.Connector.ContentHub.DAM.FieldSerializers']" 
              type="XmCloudSXAStarter.Pipelines.GetFieldSerializer.GetImageFieldSerializerExtendCustom, XmCloudSXAStarter" 
              resolve="true">
              <FieldTypes hint="list">
                <fieldType id="1">image</fieldType>
              </FieldTypes>
            </processor>
          </getFieldSerializer>          
        </pipelines>
      </group>
      <parseSiteItem>
        <processor type="XmCloudSXAStarter.Pipelines.ParseSiteItem.AddThemeProperty, XmCloudSXAStarter" resolve="true" />
      </parseSiteItem>
      <cmp.importEntity>
        <processor
          patch:instead="*[@type='Sitecore.Connector.CMP.Pipelines.ImportEntity.EnsureItem, Sitecore.Connector.CMP']"
          type="XmCloudSXAStarter.Pipelines.CMP.SaveFieldValues.EnsureItemEx, XmCloudSXAStarter"
          resolve="true" />
        <processor
          patch:instead="*[@type='Sitecore.Connector.CMP.Pipelines.ImportEntity.SaveFieldValues, Sitecore.Connector.CMP']"
          type="XmCloudSXAStarter.Pipelines.CMP.SaveFieldValues.SaveFieldValuesExt, XmCloudSXAStarter"
          resolve="true" />
      </cmp.importEntity>
    </pipelines>
  </sitecore>
</configuration>
